/*  */
body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #f4f6fb;
}

/* LAYOUT */
.layout {
    display: flex;
    height: 100vh;
}

/* SIDEBAR */
.sidebar {
    width: 250px;
    background: #1f3b57;
    color: white;
    padding: 20px;
}

.logo img {
    width: 40px;
}

.logo h2 {
    font-size: 18px;
    margin-top: 10px;
}

.menu {
    list-style: none;
    padding: 0;
    margin-top: 30px;
}

.menu li {
    padding: 12px;
    cursor: pointer;
    border-radius: 6px;
}

.menu li:hover,
.menu .active {
    background: #2f5378;
}

/* MAIN */
.main {
    flex: 1;
    padding: 25px;
}

/* HEADER */
.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.avatar {
    width: 40px;
    border-radius: 50%;
}

/* CARDS */
.cards {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
}





.profile-menu {
    position: relative;
    display: inline-block;
}

.profile-icon {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    cursor: pointer;
}

/* DROPDOWN */
.dropdown {
    display: none;
    position: absolute;
    
    right: 0;
    top: 50px;
    background: white;
    border-radius: 6px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.15);
    width: 160px;
}

.dropdown a,
.dropdown button {
    display: block;
    padding: 12px;
    border: none;
    background: none;
    text-align: left;
    width: 100%;
    cursor: pointer;
    text-decoration: none;
    color: #333;
}

.dropdown a:hover,
.dropdown button:hover {
    background: #f1f1f1;
}

.logout-btn {
    background: none;
    border: none;
    color: white;
    padding: 12px;
    width: 100%;
    text-align: left;
    cursor: pointer;
}

.logout-btn:hover {
    background: #2f5378;
}
