.login-box {
    width: 350px;
    margin: 100px auto;
    background: white;
    padding: 25px;
    border-radius: 8px;
}

.login-box button {
    background: #2563eb;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
}