.register-box {
    width: 380px;
    margin: 90px auto;
    background: #fff7ed;
    padding: 25px;
    border-radius: 10px;
}

.register-box button {
    background: #16a34a;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
}